<template>
  <div style="width: 400px; margin: 0 auto; text-align: left">
    <div>
      <input v-model="inputValue">
    </div>
    <br />
    <div>
      <div v-if="error">{{error}}</div>
      <div v-else>
        <div v-for="(item, i) in listOfStrings" :key="`${item}_${i}`">
          {{listOfNumbers[i]}} - {{item}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, watch } from 'vue';
import { firstSixteenNum, roundNumbers } from '@/constants/NumberToWord';

export default {
  name: 'App',
  setup() {
    const error = ref('');
    const inputValue = ref('');
    const listOfNumbers = ref([]);
    const listOfStrings = ref([]);

    function parseHundreds(inNum, inStr = '', thousands = false) {
      if (inNum === '001' && thousands) return '';
      if (inNum === '000') return '';
      let str = inStr;
      const num = Number(inNum);
      if (!str && num === 0) return firstSixteenNum[num];
      if (num === 0) return str;
      if (str) str = `${str}-`;
      if (num < 17) return `${str}${firstSixteenNum[num]}`;
      if (num < 70) {
        return parseHundreds(num % 10, `${str}${roundNumbers[num.toString()[0]]}${num % 10 === 1 ? '-et' : ''}`);
      }
      if (num > 69 && num < 80) {
        return parseHundreds(num % 60, `${str}${roundNumbers[6]}${num % 70 === 1 ? '-et' : ''}`);
      }
      if (num > 79 && num < 100) {
        return parseHundreds(num % 80, `${str}${firstSixteenNum[4]}-${roundNumbers[2]}${num % 80 === 0 && !thousands ? 's' : ''}`);
      }
      return parseHundreds(num % 100, `${str}${num.toString()[0] === '1' ? 'cent' : `${firstSixteenNum[num.toString()[0]]}-cent${num % 100 === 0 && num !== 100 && !thousands ? 's' : ''}`}`, thousands);
    }

    function addZerosToBeginOfNumber(num) {
      if (String(num).length <= 3 || String(num).length % 3 === 0) return String(num);
      return String(num).padStart(String(num).length + 3 - (String(num).length % 3), '0');
    }

    function splitNumberByHundreds(num) {
      return addZerosToBeginOfNumber(num)
        .match(/\d{1,3}/g)
        .map((el, i, arr) => parseHundreds(el, '', arr.length - 1 - i))
        .join('-mille-')
        .replace(/^-m/, 'm')
        .replace(/e-$/, 'es');
    }

    function parseNumber(num) {
      return splitNumberByHundreds(num);
    }

    function parse() {
      listOfStrings.value = listOfNumbers.value.map((el) => parseNumber(el));
    }

    watch(
      () => [inputValue.value],
      () => {
        if (!inputValue.value) listOfNumbers.value = [];
        else listOfNumbers.value = inputValue.value.toString().replace(/\s/g, '').split(',').map(Number);
      },
    );

    watch(
      () => [listOfNumbers.value],
      () => {
        error.value = '';
        listOfNumbers.value.forEach((num) => {
          if (Number.isNaN(num)) error.value = 'Use only numbers';
          else if (num >= 1e6) error.value = 'Overflow';
        });
        if (!error.value) parse();
      },
    );

    return {
      listOfStrings,
      inputValue,
      error,
      listOfNumbers,
      parse,
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
